@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

$white: #ffffff
$bg_color: #FDFDFE
$bgAltColor: #F8F9FA
$linkColor: #176DEA
$textColor: #292C33
$textColor2: #424347
$purpleColor: #7A7DF5
$shadowColor: rgba(125,143,179,0.15)

*
  font-family: "Roboto", sans-serif
  color: $textColor


html, body
  margin: 0
  padding: 0
  min-height: 100vh
  background: $bg_color

a
  text-decoration: none
  color: inherit
  cursor: pointer
  &:hover
    color: inherit
    text-decoration: none

ul, li
  padding: 0
  margin: 0

h1, h2, h3, h4, h5
  padding: 0
  margin: 0


input, .form-control
  &:focus
    //border-color: $headline-color
    box-shadow: none
  &.is-invalid:focus
    box-shadow: none


nav
  &.navbar
    min-height: 70px
    @media (max-width: 767px)
      padding: 0 15px
    @media (min-width: 767px)
      padding: 0 50px
  box-shadow: 0 2px 66px $shadowColor
  background: $white
  .navbar-brand
    color: $textColor
    font-size: 1.8rem
    font-weight: bold
  .nav-btn
    user-select: none
    background: $linkColor
    padding: 5px 30px
    color: $white
    border-radius: 70px
    font-size: 1.35rem
    font-weight: bold


.vacancy-card
  min-height: 300px
  box-shadow: 0 2px 66px $shadowColor
  border-radius: 12px
  min-width: 100%
  background: $white
  padding: 15px 10px
  text-align: center
  .name
    color: $textColor
  .description
    margin-top: 20px
    color: $textColor2
  .partners
    margin-top: 15px
    color: $textColor2
    .partner
      color: $purpleColor
  .more-detailed
    margin-top: 15px
    text-decoration: underline
    color: $textColor2
    user-select: none