@import "../main"

.info-box
  padding-top: 50px
  min-height: 550px
  background: $bgAltColor
  margin-bottom: 20px
  .photo-box
    @media (max-width: 1023px)
      max-width: 300px
      max-height: 300px
    @media (min-width: 1024px)
      max-width: 450px
      max-height: 450px
    border-radius: 400px
    img
      @media (max-width: 1023px)
        width: 300px
        height: 300px
      @media (min-width: 1024px)
        width: 450px
        height: 450px
      border-radius: 400px
  .info
    @media (max-width: 1023px)
      min-height: 200px
    @media (min-width: 1024px)
      min-height: 450px
    height: 100%
    display: table
    .info-data
      display: table-cell
      vertical-align: middle
      .name
        color: $textColor
      .email, .phone, .bdate
        color: $textColor2

.text-about-me
  font-weight: normal