@import "../main"

.warp
  padding-top: 100px


.box
  .organisation
    font-size: 1.3rem
    font-weight: 500
    font-style: italic
    color: $textColor2
    &:hover
      color: $linkColor
  .partners
    color: $textColor2
    font-size: 1.1rem
    .partner
      color: $purpleColor