{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock links %}
{% block content %}
    <div class="container" style="padding-top: 170px">
        <div class="box mt-auto mb-auto" >
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
{#                        <p style="color: red;">{{field.label}}: {{ error|escape }}</p>#}
                        <p style="color: red;">{{ error|escape }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="formbox">
                {% if validlink %}
                    <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group flex-nowrap mb-3">
                            <div class="input-group-text formInput">
                                <i class="fas fa-lock"></i>
                            </div>
                            <input id="id_new_password1" type="password" name="new_password1" autocomplete="new-password"  aria-autocomplete="list" class="form-control formInput" placeholder="Пароль" required>
                        </div>
                        <div class="input-group flex-nowrap mb-3">
                            <div class="input-group-text formInput">
                                <i class="fas fa-lock"></i>
                            </div>
                            <input id="id_new_password2" type="password" name="new_password2" autocomplete="new-password" class="textinput form-control formInput" placeholder="Подтвердите пароль" required>
                        </div>
                        <button type="submit" class="btn-styled link-btn">Изменить мой пароль</button>
                    </form>
                {% else %}
                    <h1>Пароль сбросить не удалось</h1>
                    <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}