{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock links %}
{% block content %}
    <div class="container" style="padding-top: 170px">
        <div class="box mt-auto mb-auto" >
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
{#                        <p style="color: red;">{{field.label}}: {{ error|escape }}</p>#}
                        <p style="color: red;">{{ error|escape }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="formbox">
                {% if validlink %}
                    <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group flex-nowrap mb-1">
                            <div class="input-group-text formInput">
                                <i class="fas fa-lock"></i>
                            </div>
                            <input id="id_new_password1" type="password" name="new_password1" autocomplete="new-password"  aria-autocomplete="list" class="form-control formInput" placeholder="Пароль" required>
                        </div>
                        <div class="mb-3">
                            <div id="pass-progress-div" class="progress d-none">
                                <div id="pass-progress" class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="input-group flex-nowrap mb-3">
                            <div class="input-group-text formInput">
                                <i class="fas fa-lock"></i>
                            </div>
                            <input id="id_new_password2" type="password" name="new_password2" autocomplete="new-password" class="textinput form-control formInput" placeholder="Подтвердите пароль" required>
                        </div>
                        <button type="submit" class="btn-styled link-btn">Изменить мой пароль</button>
                    </form>
                {% else %}
                    <h1>Пароль сбросить не удалось</h1>
                    <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let s_letters = "qwertyuiopasdfghjklzxcvbnm";
        let b_letters = "QWERTYUIOPLKJHGFDSAZXCVBNM";
        let digits = "0123456789";
        let specials = "!@#$%^&*()_-+=\|/.,:;[]{}";

        let input_password = document.getElementById('id_new_password1');
        let input_password2 = document.getElementById('id_new_password2');
        let pass_progress = document.getElementById('pass-progress');
        let pass_progress_div = document.getElementById('pass-progress-div');
        input_password.addEventListener('keyup', function(evt){
            let input_password_val = input_password.value;

            let is_s = false;
            let is_b = false;
            let is_d = false;
            let is_sp = false;

            for (var i = 0; i < input_password_val.length; i++) {
                if (!is_s && s_letters.indexOf(input_password_val[i]) !== -1) {
                     is_s = true
                }
                else if (!is_b && b_letters.indexOf(input_password_val[i]) !== -1) {
                      is_b = true
                }
                else if (!is_d && digits.indexOf(input_password_val[i]) !== -1) {
                       is_d = true
                }
                else if (!is_sp && specials.indexOf(input_password_val[i]) !== -1) {
                       is_sp = true
                }
            }

            let rating = 0;
            if (is_s) rating++;
            if (is_b) rating++;
            if (is_d) rating++;
            if (is_sp) rating++;
            if (input_password_val.length < 8 || rating <= 2) {
                pass_progress.style.width = "25%";
                pass_progress.style.color = "white";
                pass_progress.textContent = "Слабый пароль";
                pass_progress.classList.add("bg-danger")
                if(pass_progress.classList.contains('bg-warning'))
                    pass_progress.classList.remove('bg-warning')
                if(pass_progress.classList.contains('bg-success'))
                    pass_progress.classList.remove('bg-success')
                input_password.setCustomValidity("Пароль слишком слабый. Пароль должен состоять из цифр и букв и иметь спец. символы или хотя бы одну заглавную букву");
            }
            else if (input_password_val.length >= 8 && rating < 4 && rating > 2) {
                pass_progress.style.width = "50%";
                pass_progress.style.color = "black";
                pass_progress.textContent = "Средний пароль";
                pass_progress.classList.add("bg-warning")
                if(pass_progress.classList.contains('bg-danger'))
                    pass_progress.classList.remove('bg-danger')
                if(pass_progress.classList.contains('bg-success'))
                    pass_progress.classList.remove('bg-success')
                input_password.setCustomValidity('')
            }
            else if (input_password_val.length >= 8 && rating === 4) {
                pass_progress.style.width = "100%";
                pass_progress.style.color = "white";
                pass_progress.textContent = "Сложный пароль";
                pass_progress.classList.add("bg-success")
                if(pass_progress.classList.contains('bg-warning'))
                    pass_progress.classList.remove('bg-warning')
                if(pass_progress.classList.contains('bg-danger'))
                    pass_progress.classList.remove('bg-danger')
                input_password.setCustomValidity('')
            }
            if(pass_progress_div.classList.contains('d-none'))
                pass_progress_div.classList.remove('d-none')
        });
        input_password2.addEventListener('keyup', function(evt){
            let input_password_val = input_password.value;
            let input_password2_val = input_password2.value;
            if(input_password_val !== input_password2_val)
                input_password2.setCustomValidity('Пароли не совпадают!')
            else
                input_password2.setCustomValidity('')
        })
    </script>
{% endblock scripts %}