{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock links %}
{% block content %}
    <div class="container" style="padding-top: 170px">
        <div class="box mt-auto mb-auto" >
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <div class="formbox">
                <form action="" method="post">{% csrf_token %}
                        <p style="font-size: 1.2em;">Введите email</p>
                        <div class="input-group flex-nowrap mb-3 formInput">
                            <div class="input-group-text formInput">
                                <i class="far fa-envelope"></i>
                            </div>
                            <input maxlength="254" required="" id="id_email" type="email" name="email" autocomplete="email"  class="textinput textInput  form-control formInput" placeholder="example@gmail.com" aria-label="email"
                                   aria-describedby="addon-wrapping">
                        </div>
                    <input type="submit" class="btn-styled link-btn" value="Сбросить пароль" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}