{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/main_app/applications_for_registration_list.css' %}">
{% endblock links %}
{% block content %}
    <div class="container warp">
        <div class="box">
            <h2 style="text-align: center;">Заявки на регистарцию от компаний:</h2><br>
            <div class="organisation_application mb-3">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 mb-2 mb-lg-0 name">
                        <a href="/organization_profile/" class="link">
                            ООО "Рога"
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-lg-end mb-2 mb-md-0">
                        <a class="btn-styled link-btn">Подтвердить</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-lg-end">
                        <a class="btn-styled danger-btn">Отклонить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}