{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/slimselect.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_app/index.css' %}">
{% endblock links %}
{% block content %}
    <div class="search-box">
        <div class="container sort-box">
            <form class="sort-form" name="sort_form" method="POST" enctype="multipart/form-data" action="/">
                {% csrf_token %}
                <h2 class="text-center mb-3">Фильтры</h2>
                <div class="mb-4">
                    <select id="universities-multiple" class="formInput multi-select-custom" multiple>
                        {% for university in universities %}
                            <option value="{{ university.title }}">{{ university.title }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" id="universities" name="universities" value="">
                </div>
                <div class="mb-4">
                    <select id="directions-multiple" class="formInput multi-select-custom" multiple>
                        {% for direction in directions %}
                            <option value="{{ direction.code }}">Специальность {{ direction.code }} — «{{ direction.title }}»</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" id="directions" name="directions" value="">
                </div>
                <div>
                    <button class="btn-styled link-btn mb-5" onclick="change_page({{ cur_page }})">Применить</button>
                </div>
                <input type="hidden" id="page_number" name="page_number" value="{{ cur_page }}">
                <input type="hidden" id="changed_sort" name="changed_sort" value="False">
            </form>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center mb-3">Вакансии</h2>
        <div class="row">
            {% for vacancy in vacancies %}
                <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-5">
                    <div class="vacancy-card">
                        <h5 class="name">{{ vacancy.title }}</h5>
                        <p class="organisation">Заказчик целевого обучения:<br>
                            <a class="org-name link" href="/organization_profile/{{ vacancy.organisation.id }}">{{ vacancy.organisation.user_info.name }}</a>
                        </p>
                        <p class="partners">
                            <span>Вузы партнеры: </span><br>
                            {% with vacancy.partners|split:"|" as partners %}
                                {% for p in partners %}
                                    <span class="partner">{{ p }}</span>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            {% endwith %}
                        </p>
                        <a href="/vacancy/{{ vacancy.id }}" class="more-detailed">Подробнее</a>
                    </div>
                </div>
            {% empty %}
                <h3 class="text-center">С заданными фильтрами результаты не найдены!</h3>
            {% endfor %}
        </div>
        {% if vacancies_len > 25 %}
        <div class="mt-3 mb-5">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if cur_page == pages_num_range|first  %}disabled{% endif %}">
                    <a class="page-link" onclick="change_page({{ cur_page|add:"-1" }})" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for i in pages_num_range %}
                    <li class="page-item {% if i == cur_page %}active{% endif %}">
                        <a class="page-link" onclick="change_page({{ i }})">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if cur_page == pages_num_range|last  %}disabled{% endif %}">
                    <a class="page-link" onclick="change_page({{ cur_page|add:"1" }})" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/slimselect.min.js' %}"></script>

    <script>
        var select = new SlimSelect({
            select: '#universities-multiple',
            {#closeOnSelect: false,#}
            searchText: 'Нет результатов',
            placeholder: 'Выберите вузы',
            hideSelectedOption: true,
            onChange: (info) => {
                document.getElementById("universities").value = select.selected().join('|');
            }
        })
        var select2 = new SlimSelect({
            select: '#directions-multiple',
            {#closeOnSelect: false,#}
            searchText: 'Нет результатов',
            placeholder: 'Выберите направления',
            hideSelectedOption: true,
            onChange: (info) => {
                document.getElementById("directions").value = select2.selected().join('|');
            }
        })
        let d = "{{ sort_universities }}".split('|')
        let d2 = "{{ sort_directions }}".split('|')
        select.set(d)
        select2.set(d2)
        let init_universities = document.getElementById("universities").value
        let init_directions = document.getElementById("directions").value
        let form = document.forms.sort_form;
        function change_page(page) {
            form.page_number.value = page
            if((init_universities !== document.getElementById("universities").value) || (init_directions !== document.getElementById("directions").value))
                form.changed_sort.value= 'True';
            form.submit()
        }
    </script>
    {% if is_not_adm or is_not_comp %}
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'У вас не достаточно прав!',
                showConfirmButton: false,
                timer: 1500
            }).then(() =>{
                window.location.href = '/'
            })
        </script>
    {% endif %}
{% endblock scripts %}