{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/main_app/index.css' %}">
{% endblock links %}
{% block content %}
    <div class="search-box">
        <div class="container">

        </div>
    </div>
    <div class="container">
        <h2 class="text-center mb-3">Вакансии</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-5">
                <div class="vacancy-card">
                    <h5 class="name">Специальность 03.03.01 — «Прикладные математика и физика»</h5>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in libero pulvinar, sollicitudin odio rutrum, sagittis sapien. Duis sollicitudin in est...</p>
                    <p class="partners">Вузы партнеры: <span class="partner">МГТУ им.Баумана</span>, <span class="partner">МФТИ</span>, <span class="partner">МИСИС</span> </p>
                    <a href="/vacancy/" class="more-detailed">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}