{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/main_app/organization_profile_editor.css' %}">
{% endblock links %}
{% block content %}
    <div class="container warp">
         <div class="box mb-5">
            {% if form.errors %}
                <p style="color: red;">Ошибка</p>
            {% endif %}
            <div class="formbox">
                <h2 style="text-align: center;">Главная информация</h2><br>
                <form class="mb-4" method="POST" enctype="multipart/form-data" action="/organization_profile_editor/">
                    <input type="hidden" name="info_edit" value="True">
                    {% csrf_token %}
                    <div class="input-group flex-nowrap mb-4">
                        <div class="input-group-text formInput">
                            <i class="far fa-envelope"></i>
                        </div>
                        <input disabled id="id_username" type="email" name="username" class="textinput textInput  form-control formInput" value="{{ user.username }}" placeholder="{{ user.username }}" aria-label="email"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <input value="{{ u_info.name }}" id="name" type="text" name="name" class="textinput textInput  form-control formInput" placeholder="Название компании" aria-label="name"
                            aria-describedby="addon-wrapping" required>
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <div class="input-group-text formInput">
                            <i class="fas fa-phone"></i>
                        </div>
                        <input id="phone_number" type="tel" name="phone_number" value="{{ u_info.phone_number }}" class="textinput textInput  form-control formInput phone" placeholder="+7 999 999 99 99" aria-label="phone_number"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="mb-4">
                        <label for="text_about" class="form-label">О нас</label>
                        <textarea id="text_about" name="text_about" class="form-control textInput" rows="5"  required>{{ u_info.text_about }}</textarea>
                    </div>
                    <button class="btn-styled link-btn">Сохранить</button>
                </form>
            </div>
         </div>

        <div class="box mb-5">
            {% if error_pass %}
                <p style="color: red;">Неверный старый пароль или пароли не совпадают. Пожалуйста, попробуйте еще раз.</p>
            {% endif %}
            {% if vale %}
                {% for error in vale %}
                    <p style="color: red;">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
            <div class="formbox">
                <h2 style="text-align: center;">Смена пароля</h2><br>
                <form action="/organization_profile_editor/" method="POST">
                    <input type="hidden" name="pass_edit" value="True">
                    {% csrf_token %}
                    <div class="input-group flex-nowrap mb-3">
                        <div class="input-group-text formInput">
                            <i class="fas fa-lock"></i>
                        </div>
                        <input type="password" name="old_password" autocomplete="new-password" id="id_old_password" aria-autocomplete="list" class="form-control formInput" placeholder="Старый пароль">
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <div class="input-group-text formInput">
                            <i class="fas fa-lock"></i>
                        </div>
                        <input type="password" name="new_password1" autocomplete="new-password" id="id_new_password1" aria-autocomplete="list" class="form-control formInput" placeholder="Новый пароль">
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <div class="input-group-text formInput">
                            <i class="fas fa-lock"></i>
                        </div>
                        <input type="password" name="new_password2" autocomplete="new-password" id="id_new_password2" class="form-control formInput" placeholder="Подтвердите пароль">
                    </div>
                    <input style="display: none;" name="username" value="{{user.username}}">
                    <button type="submit" class="btn-styled link-btn">Изменить мой пароль</button>
                </form>
            </div>
         </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/cleave.min.js' %}"></script>
    <script src="{% static 'js/cleave-phone.i18n.js' %}"></script>
    <script>
        const cleave = new Cleave('.phone', {
            phone: true,
            blocks: [2, 3, 3, 2, 2],
            phoneRegionCode: 'RU',
            numericOnly:true,
        });
    </script>

{% endblock scripts %}