{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/main_app/user_profile.css' %}">
{% endblock links %}
{% block content %}
    <div class="info-box">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="photo-box ms-auto me-auto ms-lg-0 me-lg-0"><img src="https://pikuco.ru/upload/test_stable/9b1/9b1bb46bf33f3d331ad61117a2feff70.jpg" alt=""></div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="info">
                        <div class="info-data">
                            <h2 class="name">Петров Александр Валерьевич</h2>
                            <h4 class="email">Email: example@example.ru</h4>
                            <h4 class="phone">Телефон: +7 777 77-77</h4>
                            <h4 class="bdate">Дата рождения: 01.01.2004</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center mb-2">Обо мне:</h2>
        <h5 class="text-about-me">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet velit a metus mattis sagittis sit amet eu elit. Aenean erat nisi, mattis in ornare eu, blandit vel augue. Nulla facilisi. Nulla dignissim sapien a dolor sodales, eu vestibulum tortor ullamcorper. Cras ligula lorem, auctor et pharetra sed, consequat ut ipsum. Quisque vitae facilisis dui. Nam luctus facilisis est, quis finibus dolor finibus a. Ut ac maximus sem. Duis posuere sodales leo vitae porttitor. Donec urna est, condimentum in egestas eget, rutrum sit amet mi. Vivamus viverra metus vitae lacus vulputate, ac elementum dolor sollicitudin. Mauris scelerisque ultrices rhoncus.
        </h5>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}