{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/main_app/user_profile_editor.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.css" integrity="sha512-6QxSiaKfNSQmmqwqpTNyhHErr+Bbm8u8HHSiinMEz0uimy9nu7lc/2NaXJiUJj2y4BApd5vgDjSHyLzC8nP6Ng==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock links %}
{% block content %}
    <div class="container warp">
         <div class="box mb-5">
            {% if form.errors %}
                <p style="color: red;">Ошибка</p>
            {% endif %}
            <div class="formbox">
                <h2 style="text-align: center;">Главная информация</h2><br>
                <form class="needs-validation mb-4" novalidate method="post" action="/user_profile_editor">
                    {% csrf_token %}
                    <div class="input-group flex-nowrap mb-4">
                        <div class="input-group-text formInput">
                            <i class="far fa-envelope"></i>
                        </div>
                        <input disabled id="id_username" type="email" name="username" class="textinput textInput  form-control formInput" placeholder="{{ user.email }}" aria-label="email"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <input id="name" type="text" name="name" class="textinput textInput  form-control formInput" placeholder="Имя" aria-label="name"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <input id="surname" type="text" name="surname" class="textinput textInput  form-control formInput" placeholder="Фамилия" aria-label="surname"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <input id="patronymic" type="text" name="patronymic" class="textinput textInput  form-control formInput" placeholder="Отчество" aria-label="patronymic"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <input id="patronymic" type="text" name="patronymic" class="textinput textInput  form-control formInput" placeholder="Отчество" aria-label="patronymic"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <div class="input-group-text formInput">
                            <i class="fas fa-phone"></i>
                        </div>
                        <input id="phone_number" type="tel" name="phone_number" class="textinput textInput  form-control formInput phone" placeholder="+7 999 999 99 99" aria-label="phone_number"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-4">
                        <input id="date_of_birth" type="date" name="date_of_birth" class="textinput textInput  form-control formInput" aria-label="date_of_birth"
                            aria-describedby="addon-wrapping">
                    </div>
                    <div class="mb-4">
                        <input type="file" onchange="onFileSelected(event)">
                        <img id="image" src="https://pikuco.ru/upload/test_stable/9b1/9b1bb46bf33f3d331ad61117a2feff70.jpg" alt="">
                    </div>
                    <div class="mb-4">
                        <label for="text_about" class="form-label">Обо мне</label>
                        <textarea id="text_about" name="text_about" class="form-control textInput" rows="3"></textarea>
                    </div>
                    <button class="btn-styled link-btn">Сохранить</button>
                </form>
            </div>
         </div>

        <div class="box mb-5">
            {% if form.errors %}
                <p style="color: red;">Ошибка</p>
            {% endif %}
            <div class="formbox">
                <h2 style="text-align: center;">Смена пароля</h2><br>
                <form class="needs-validation mb-4" novalidate method="post" action="/user_profile_editor">
                    {% csrf_token %}

                    <button class="btn-styled link-btn">Сохранить</button>
                </form>
            </div>
         </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/cleave-phone.i18n.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js" integrity="sha512-IlZV3863HqEgMeFLVllRjbNOoh8uVj0kgx0aYxgt4rdBABTZCl/h5MfshHD9BrnVs6Rs9yNN7kUQpzhcLkNmHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const cleave = new Cleave('.phone', {
            phone: true,
            phoneRegionCode: 'RU'
        });
    </script>

    <script>
        function getRoundedCanvas(sourceCanvas) {
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');
            var width = sourceCanvas.width;
            var height = sourceCanvas.height;

            canvas.width = width;
            canvas.height = height;
            context.imageSmoothingEnabled = true;
            context.drawImage(sourceCanvas, 0, 0, width, height);
            context.globalCompositeOperation = 'destination-in';
            context.beginPath();
            context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
            context.fill();
            return canvas;
        }

        const image = document.getElementById('image');
        const cropper = new Cropper(image, {
            aspectRatio: 1,
            {#scalable: false,#}
            {#cropBoxResizable: false,#}
            viewMode: 1,
            scalable: false,
            zoomable: false,
            minCropBoxWidth: 250,
            minCropBoxHeight: 250,
            maxCropBoxWidth: 450,
            maxCropBoxHeight: 450,
            //crop(event) {
            //    console.log(event.detail.x);
            //    console.log(event.detail.y);
            //    console.log(event.detail.width);
            //    console.log(event.detail.height);
            //    console.log(event.detail.rotate);
            //    console.log(event.detail.scaleX);
            //    console.log(event.detail.scaleY);
            //},
        });
        {#var croppedCanvas;#}
        {#var roundedCanvas;#}
        {#var roundedImage;#}
        {##}
        {#// Crop#}
        {#croppedCanvas = cropper.getCroppedCanvas();#}
        {##}
        {#// Round#}
        {#roundedCanvas = getRoundedCanvas(croppedCanvas);#}
        {##}
        {#// Show#}
        {#roundedImage = document.createElement('img');#}
        {#roundedImage.src = roundedCanvas.toDataURL()#}
        {#result.innerHTML = '';#}
        {#result.appendChild(roundedImage);#}

        function onFileSelected(event) {
            var selectedFile = event.target.files[0];
            var reader = new FileReader();

            var imgtag = document.getElementById("image");
            imgtag.title = selectedFile.name;

            reader.onload = function(event) {
                imgtag.src = event.target.result;
                cropper.replace(event.target.result);
            };

            reader.readAsDataURL(selectedFile);
        }
    </script>
{% endblock scripts %}