{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/main_app/vacancy_page.css' %}">
{% endblock links %}
{% block content %}
    <div class="container warp">
        <div class="box">
            <h3 class="title">{{ vacancy.title }}</h3>
            <a href="/organization_profile/{{ vacancy.organisation.id }}" class="organisation link">ООО "Рога"</a>
            <div class="partners mb-3">
                <span>Вузы партнеры: </span>
                {% with vacancy.partners|split:"|" as partners %}
                    {% for p in partners %}
                        <span class="partner">{{ p }}</span>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="description mb-3">
                <h5>Описание:</h5>
                {{ vacancy.description }}
            </div>
            <div class="requirements mb-3">
                <h5>Требования:</h5>
                {{ vacancy.requirements }}
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}